<h2>Editing Article</h2>

<%= render 'form', article: @article %>

<button class="btn btn-secondary btn-sm"><%= link_to 'Show', @article %></button>
<button class="btn btn-secondary btn-sm"><%= link_to 'Back', articles_path %></button>