<h2>Editing Discount</h2>

<%= render 'form', discount: @discount %>

<button class="btn btn-secondary btn-sm"><%= link_to 'Show', @discount %></button>
<button class="btn btn-secondary btn-sm"><%= link_to 'Back', discounts_path %></button>